@use "../../../../styles/icons";
@use "../../../../styles/app-colors";

:host-context(.default) {
    .issues {
        background-color: app-colors.$white;
        color: app-colors.$black-light;
    }
  
    .mat-mdc-header-cell {
        color: app-colors.$black-light;
    }
  
    .mat-mdc-row:hover {
        background-color: app-colors.$app-brand-14;
    }
}
  
:host-context(.dark) {
    .issues {
        background-color: app-colors.$app-gray-14-dark;
        color: app-colors.$app-gray-02-dark;

        &__no-content-container {
            color: app-colors.$app-brand-dark;
        }
    }

    .mat-mdc-row {
        border-color: app-colors.$black-dark;

        &:hover {
            background-color: app-colors.$app-brand-dark-14;
        }
    }

    .mat-mdc-header-cell, 
    .mat-mdc-cell {
        color: app-colors.$white;
    }
}
  
:host-context(.contrast) {
    .issues {
        background-color: app-colors.$black;
        color: app-colors.$white;

        &__no-content-container {
            color: app-colors.$yellow;
        }
    }

    .mat-mdc-row {
        border-color: app-colors.$white;

        &:hover {
            background-color: app-colors.$yellow;

            .mat-mdc-cell {
                color: app-colors.$black;
            }
        }
    }

    .mat-mdc-header-cell,
    .mat-mdc-cell {
        color: app-colors.$white;
    }
}