@import "icons";
@import "app-colors";

:host-context(.default) {
    .issues {
        background-color: $white;
        color: $black-light;
    }
  
    .mat-mdc-header-cell {
        color: $black-light;
    }
  
    .mat-mdc-row:hover {
        background-color: $app-brand-14;
    }
}
  
:host-context(.dark) {
    .issues {
        background-color: $app-gray-14-dark;
        color: $app-gray-02-dark;

        &__no-content-container {
            color: $app-brand-dark;
        }
    }

    .mat-mdc-row {
        border-color: $black-dark;

        &:hover {
            background-color: $app-brand-dark-14;
        }
    }

    .mat-mdc-header-cell, 
    .mat-mdc-cell {
        color: $white;
    }
}
  
:host-context(.contrast) {
    .issues {
        background-color: $black;
        color: $white;

        &__no-content-container {
            color: $yellow;
        }
    }

    .mat-mdc-row {
        border-color: $white;

        &:hover {
            background-color: $yellow;

            .mat-mdc-cell {
                color: $black;
            }
        }
    }

    .mat-mdc-header-cell,
    .mat-mdc-cell {
        color: $white;
    }
}