.issue-type img {
    width: 32px;
    height: 32px;
}

.issue-priority img {
    width: 16px;
    height: 16px;
}

.issue-table tr td {
    padding: .3rem .3rem .3rem 0rem;
}

.issue-table {
  margin: 0 3px 0 3px;
}