@use "../../../../styles/app-colors";

.signout {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .mat-mdc-dialog-title {
    display: flex;
    padding: 10px;
  }
  
  .signout-title-icon {
    margin-right: 10px;
  }

  .actions {
    align-self: flex-end;

    button {
      margin-left: 5px;
    }
  }

  span {
    vertical-align: top;

    &.aui-iconfont-export {
      transform: rotate(90deg);
    }
  }
  
  p {
    overflow: auto;
  }
}

::ng-deep.mat-mdc-dialog-container .mat-mdc-dialog-surface {
  box-shadow: none !important;
  border-radius: unset !important;
}

::ng-deep.default {
  .mat-mdc-dialog-container {
    .signout {
      background-color: app-colors.$white;
    }

    .mat-mdc-dialog-title, .mat-mdc-dialog-content {
      color: app-colors.$black-light;
    }
  }
}

::ng-deep.dark {
  .mat-mdc-dialog-container {
    .signout {
      background-color: app-colors.$app-gray-14-dark;
    }
    .mat-mdc-dialog-title, .mat-mdc-dialog-content {
      color: app-colors.$white;
    }
  }
}

::ng-deep.contrast {
  .mat-mdc-dialog-container {
    .signout {
      background-color: app-colors.$black;
      border: 1px solid app-colors.$white;
    }
    .mat-mdc-dialog-title, .mat-mdc-dialog-content {
      color: app-colors.$white;
    }
  }
}
