<div class="main">
    <div class="content">
        <p mat-dialog-title>
            <span [ngClass]="dialogIconClass"></span>
            {{ data.title }}
        </p>

        <mat-dialog-content *ngIf="data.subtitle">
            <p [innerHTML]="data.subtitle"></p>
        </mat-dialog-content>
    </div>

    <div class="actions">
        <mat-dialog-actions>
            <button class="continue-button ts-btn ts-btn-primary" type="button"
                (click)="close()">{{ data.buttonText }}</button>
        </mat-dialog-actions>
    </div>
</div>