@use '../icons';
@use '../app-colors';

.ts-btn {
  height: 3.4rem;
  min-width: 9.6rem;
  border: 0.2rem solid transparent;
  border-radius: 0.3rem;
  white-space: nowrap;
  cursor: pointer;
  font: inherit;
  background: app-colors.$app-brand-dark;
  color: app-colors.$white;
  border-color: transparent;
}

body.default .ts-btn-primary {
  background: app-colors.$app-brand;
  color: app-colors.$white;
  border: transparent;

  &:hover, &:focus {
    background: app-colors.$app-brand-04;
    color: app-colors.$white;
    border: transparent;
    outline: none;
  }

  &:disabled {
    background: app-colors.$app-gray-12-light;
    color: app-colors.$app-gray-06-light;
    border-color: transparent;
    cursor: default;
  }
}

body.default .ts-btn-secondary {
  background: app-colors.$white;
  color: app-colors.$app-gray-02-light;  
  border: 0.125rem solid app-colors.$app-gray-06-light;   

  &:hover, &:focus {   
    background: app-colors.$app-gray-06-light; 
    border-color: transparent;
    color: app-colors.$black-light;
    outline: none;
  }

  &:disabled { 
    background: app-colors.$white;
    border-color: app-colors.$app-gray-06-light; 
    color: app-colors.$app-gray-06-light;
    cursor: default;    
  }
}

body.dark .ts-btn-primary {
  background: app-colors.$app-brand-dark;
  color: app-colors.$black;
  border: transparent;

  &:hover, &:focus {
    background: app-colors.$app-brand-04;
    color: app-colors.$white;
    border: transparent;
    outline: none;
  }

  &:disabled {
    background: app-colors.$app-gray-12;
    color: app-colors.$app-gray-06;
    border-color: transparent;
    cursor: default;
  }
}

body.dark .ts-btn-secondary {
  background: app-colors.$app-gray-10-dark;
  border: 0.125rem solid app-colors.$app-gray-06-dark;  
  color: app-colors.$app-gray-02-dark;

  &:hover, &:focus {      
    background: app-colors.$app-gray-06-dark; ;
    border-color: transparent;
    color: app-colors.$white;    
    outline: none;
  }

  &:disabled {   
    background: app-colors.$app-gray-10-dark;
    border-color: app-colors.$app-gray-12-dark;
    color: app-colors.$app-gray-06-dark;   
    cursor: default;
  }
}

body.contrast .ts-btn-primary {
  background: transparent;
  color: app-colors.$white;
  border: 1px solid app-colors.$white;

  &:hover {
    background: app-colors.$yellow;
    color: app-colors.$black;
    border-color: app-colors.$white;
  }

  &:disabled {
    background: app-colors.$contrast-button-disabled;
    color: app-colors.$black;
    border-color: transparent;
    cursor: default;
  }
}

body.contrast .ts-btn-secondary {
  background: app-colors.$white;
  color: app-colors.$black;
  border: 1px solid app-colors.$white;

  &:hover {
    background: app-colors.$yellow;
    color: app-colors.$black;
    border-color: app-colors.$white;
  }

  &:disabled {   
    background: app-colors.$black;
    border-color: app-colors.$green-contrast;
    color: app-colors.$green-contrast;
    cursor: default;
  }
}
