@use '../icons';
@use '../app-colors';
@use '../variables';

/* li element styles */

// default li style
body.default li {
    color: app-colors.$black-light;
    font-weight: 400;
    font-size: 14px;
    a, h1, h2, h3, h4, h5, h6 {
        color: app-colors.$app-brand;
    }
    &:hover, &.active {
        background-color: app-colors.$app-gray-10-light;
        color: app-colors.$black-light;
        a, h1, h2, h3, h4, h5, h6 {
            color: app-colors.$black-light;
        }
    }
}

body.default li.selected {
    background-color: app-colors.$app-gray-06-light;
}

// dark li style
body.dark li {
    color: app-colors.$app-gray-01-dark;
    font-weight: 400;
    font-size: 14px;
    a, h1, h2, h3, h4, h5, h6 {
        color: app-colors.$app-brand-dark-07;
    }
    &:hover, &.active {
        background-color: app-colors.$app-gray-07-dark;
        color: app-colors.$white;
        a, h1, h2, h3, h4, h5, h6 {
            color: app-colors.$app-brand-dark-01;
        }
    }
}

body.dark li.selected {
    background-color: app-colors.$app-gray-06-dark;
}

// contrast li style
body.contrast li {
    color: app-colors.$white;
    font-weight: 400;
    font-size: 14px;
    a, h1, h2, h3, h4, h5, h6 {
        color: app-colors.$yellow;
    }
    &:hover, &.active {
        background-color: app-colors.$yellow;
        color: app-colors.$black;
        a, h1, h2, h3, h4, h5, h6 {
            color: app-colors.$black;
        }
    }
}

body.contrast li.selected {
    background-color: app-colors.$blue;
}