$black: #000000;
$white: #FFFFFF;

$black-light: #252424;
$app-brand: #6264A7;
$app-brand-02: #33344A;
$app-brand-04: #464775;
$app-brand-06: #6264A7;
$app-brand-08: #8B8CC7;
$app-brand-12: #BDBDE6;
$app-brand-14: #E2E2F6;
$app-brand-16: #F4F4FC;
$app-gray-01-light: #4E586A;
$app-gray-02-light: #5C5B5B;
$app-gray-03-light: #717070;
$app-gray-04-light: #929191;
$app-gray-06-light: #BDBDBD;
$app-gray-08-light: #DFDEDE;
$app-gray-10-light: #F3F2F1;
$app-gray-12-light: #F4F4F4;
$app-gray-13-light: #F8F8F9;
$app-gray-14-light: #F9F8F7;

$black-dark: #201F1F;
$app-brand-dark: #6264A7;
$app-brand-dark-01: #EBEBEB;
$app-brand-dark-02: #E2E2F6;
$app-brand-dark-04: #BDBDE6;
$app-brand-dark-06: #A6A7DC;
$app-brand-dark-07: #8C8DB7;
$app-brand-dark-08: #8B8CC7;
$app-brand-dark-12: #6264A7;
$app-brand-dark-14: #464775;
$app-brand-dark-16: #33344A;
$app-gray-01-dark: #BFBDBB;
$app-gray-02-dark: #C7C6C6;
$app-gray-03-dark: #B1B1B0;
$app-gray-04-dark: #8F8F8F;
$app-gray-06-dark: #636262;
$app-gray-07-dark: #3B3A39;
$app-gray-08-dark: #414040;
$app-gray-10-dark: #2D2C2C;
$app-gray-12-dark: #2B2A2A;
$app-gray-13-dark: #313136;
$app-gray-14-dark: #292828;

/* Replace this colors */
$app-gray-02: #C8C8C9;
$app-gray-03: #B2B2B4;
$app-gray-04: #99999B;
$app-gray-06: #77777A;
$app-gray-08: #48484D;
$app-gray-10: #404045;
$app-gray-12: #35353A;
$app-gray-13: #313136;
$app-gray-14: #38383D;
/* */

$app-brand-contrast: #3FF23F;
$contrast-button-disabled: #3FF23F;
$green-contrast: #30F42C;

$yellow: #FFFF00;
$green: #92C353;
$blue: #00EBFF;
$red: #C4314B;

$sla-breached:#de350b; 
$sla-expired:#ffab00;
$sla-work-hours: #00a3bf;
$sla-success: #36b37e;

$scrollbar-light: rgba(37,36,36,0.30);
$scrollbar-dark: rgba(255,255,255,0.30);