$ok: "\e412";
$chevron-down: "\e41e";
$chevron-med-right: "\e449";
$chevron-med-down: "\e447";
$field-error: "\e450";
$chevron-small-up: "\e44e";
$chevron-small-down: "\e44b";
$chevron-small-right: "\e44d";
$info-circle: "\e451";
$field-success: "\e44f";
$question-mark-field: "\e62c";
$cancel: "\e413";

// Sla icons used for service desk issue types
$pause: "\f1c1";
$success: "\f194";
$close-dialog:"\f11b";
$time: "\f1a6";
