@use "variables" as vars;
@use "icons";
@use "app-colors" as colors;

@mixin md-icon-size($size: 24px) {
  font-size: 14px;
  line-height: $size;
  height: $size !important;
  width: $size !important;
}

.mat-icon {
  &--sm {
    @include md-icon-size(16px);
  }
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
  box-sizing: border-box !important;
}

.mdc-checkbox {
  box-sizing: content-box !important;
}

.ng-dropdown-panel.ng-select-bottom {
  top: calc(100%) !important;
}

.ng-select {
  padding-bottom: 0 !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: colors.$app-brand !important;
  border-color: colors.$app-brand-dark-16 !important;
}

.ng-option .mat-mdc-checkbox .mdc-label, .mdc-checkbox__background {
  color: colors.$black !important;
}

.ng-option.ng-option-marked .mat-mdc-checkbox .mdc-label,
.ng-option.ng-option-selected .mat-mdc-checkbox .mdc-label {
  color: colors.$white !important;
}

.ng-option .mat-mdc-checkbox .mdc-checkbox__background {
  border-color: colors.$app-brand-17 !important;
}

.ng-option.ng-option-marked.ng-option-selected .mat-mdc-checkbox .mdc-checkbox__background .mdc-checkbox__checkmark,
.ng-option.ng-option-selected .mat-mdc-checkbox .mdc-checkbox__background .mdc-checkbox__checkmark,
.ng-option.ng-option-marked .mat-mdc-checkbox .mdc-checkbox__background .mdc-checkbox__checkmark
{
  background-color: colors.$app-brand !important;
  color: colors.$white;
}

.mat-mdc-checkbox .mdc-label, .mdc-checkbox__background {
  color: colors.$black !important;
}

.mat-mdc-checkbox .mdc-label {
  font-weight: normal !important;
  margin-bottom: 0px !important;
}

.mat-mdc-checkbox .mdc-checkbox__background {
  border-color: colors.$app-brand-17 !important;
}

.mat-mdc-checkbox .mdc-checkbox__background .mdc-checkbox__checkmark
{
  background-color: colors.$app-brand !important;
  color: colors.$white;
}

.mat-mdc-radio-button.mat-mdc-radio-checked .mat-ripple-element {
  background-color: colors.$app-brand !important;
}

.ng-option.ng-option-marked  {
  background: colors.$app-brand;
}

.ng-option.ng-option-marked .mat-mdc-radio-button .mdc-label,
.ng-option.ng-option-selected .mat-mdc-radio-button .mdc-label {
  color: colors.$white;
}

.ng-option.ng-option-marked .mat-mdc-radio-button .mdc-radio__outer-circle {
  border-color: colors.$white !important;
}

.ng-option.ng-option-selected .mat-mdc-radio-button .mdc-radio__outer-circle,
.ng-option.ng-option-selected .mat-mdc-radio-button .mdc-radio__inner-circle {
  border-color: colors.$white !important;
}

.ng-option.ng-option-marked.ng-option-selected .mat-mdc-radio-button .mdc-radio__outer-circle,
.ng-option.ng-option-marked.ng-option-selected .mat-mdc-radio-button .mdc-radio__inner-circle {
  border-color: colors.$white !important;
}

.mat-button-focus-overlay {
  background-color: colors.$app-brand;
}

.ng-select .ng-select-container {
  background-color: colors.$app-gray-10-light !important;
  padding: 0 0 0 12px !important;
  min-height: 32px !important;
  border-radius: 2px !important;
  height: auto;
  overflow-y: scroll;
  align-items: normal;
}

.ng-select .ng-select-container .ng-value-container {
  border-top: 0 !important;
}

.ng-select.ng-select-multiple .ng-select-container.ng-has-value {
  background-color: colors.$app-gray-10-light !important;
  padding: 0 0 0 12px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  overflow: visible !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container {
  padding-top: .4375em !important;
}

.ng-select input, .ng-select span {
  margin-top: 1px;
}

.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-clear-wrapper,.ng-select.ng-select-multiple .ng-select-container.ng-has-value .ng-arrow-wrapper {
  border-top: 0 !important;
}

.ng-select.ng-select-single .ng-select-container .ng-arrow-wrapper {
  bottom: 0 !important;
  align-self: center !important;
}

.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
  bottom: 0 !important;
  align-self: center !important;
}

.ng-select .ng-arrow-wrapper {
  padding: 8px;
  bottom: 0 !important;
}

.ng-select input[type=text] {
  padding: 0 0 0 12px !important;
}

.ng-select .ng-select-container:after {
  border-bottom: transparent !important;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border-left: 0 !important;
  border-right: 0 !important;
  border-top: 0 !important;
  margin: 0 !important;
  height: auto !important;
  width: auto !important;
  display: block !important;

  font-family: vars.$msteams-icons-font !important;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  color: #2B2B30;
}

.ng-select .ng-arrow-wrapper .ng-arrow::before {
  bottom: 1px;
  content: icons.$chevron-down;
  position: relative;
}

.ng-select .ng-clear-wrapper .ng-clear {
  font-size: 21px !important;
}

.ng-select .ng-spinner-loader {
  margin: 8px;
}

.ng-select .ng-has-value .ng-placeholder,.ng-select.ng-select-opened .ng-placeholder {
  transform: translateY(-1.45em) scale(0.75) perspective(100px) translateZ(0.001px) !important;
}

.ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder {
  transform: translateY(-1.45em) scale(0.75) perspective(100px) translateZ(0.001px) !important;
  color: colors.$app-brand !important;
}

.ng-dropdown-panel {
  background: colors.$app-gray-10-light !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background: colors.$app-brand;
  color: colors.$white;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background: colors.$app-brand-04;
  color: colors.$white;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected:hover {
  background: colors.$app-brand;
  color: colors.$white;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  line-height: 2em !important;
  min-height: 2em !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
  line-height: 2em !important;
  height: 2em !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 0 10px !important;
}

.mat-mdc-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color:  colors.$app-brand !important;
}

.mat-mdc-radio-button.mat-accent .mat-radio-inner-circle,.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: colors.$app-brand !important;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background: colors.$app-brand !important;
  border-radius: 0 !important;
}

.mat-mdc-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background: colors.$app-brand;
}

.mat-mdc-checkbox {
  font-family: inherit !important;
}

.mat-calendar-body-selected {
  background-color: colors.$app-brand !important;
  color: colors.$white !important;
}

.mat-datepicker-content {
  background-color: colors.$white !important;
  color: colors.$black !important;
}

.mat-datepicker-toggle-active {
  color: colors.$app-brand !important;
}

.input-date-picker {
  font-family: vars.$font-family;
  font-size: 14px;
  width: 30%;
  padding: 5px 12px 8px;
  box-shadow: none;
  outline: none;
  resize: vertical;
  border: none;
  border-radius: 3px;
  border-bottom: solid 0.2rem transparent;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:disabled {
    opacity: 0.5;
  }
}

.input-date-picker{
  background-color: colors.$app-gray-10-light;
  color: colors.$black;
}

.input-date-picker:focus {
  border-color: colors.$app-brand;
}

.mdc-snackbar.mat-mdc-snack-bar-container {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  min-height: auto !important;
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.mdc-snackbar .mdc-snackbar__surface.mat-mdc-snackbar-surface {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
  background-color: transparent !important;
  max-width: 100% !important;
}

.mdc-snackbar .mat-mdc-snack-bar-label {
  padding: 0 !important;
  margin: 0 !important;
}

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: colors.$app-brand !important;
}

body.dark {
  .ng-select .ng-select-container {
    background-color: colors.$black-dark !important;
    color: colors.$white !important;
   }
   
  .ng-select.ng-select-multiple .ng-select-container.ng-has-value {
    background-color: colors.$black-dark !important;
    color: colors.$white !important;
  }

  .mat-mdc-checkbox .mdc-label {
    color: colors.$app-gray-01-dark !important;
  }

  .mat-mdc-radio-button .mdc-label {
    color: colors.$app-gray-01-dark;
  }

  .ng-option .mat-mdc-radio-button .mdc-radio__outer-circle {
    border-color: colors.$app-gray-01-dark !important;
  }

  .ng-option.ng-option-marked .mat-mdc-radio-button .mdc-radio__outer-circle {
    border-color: colors.$white !important;
  }

  .ng-option.ng-option-selected .mat-mdc-radio-button .mdc-radio__outer-circle,
  .ng-option.ng-option-selected .mat-mdc-radio-button .mdc-radio__inner-circle {
    border-color: colors.$white !important;
  }

  .ng-option.ng-option-marked.ng-option-selected .mat-mdc-radio-button .mdc-radio__outer-circle,
  .ng-option.ng-option-marked.ng-option-selected .mat-mdc-radio-button .mdc-radio__inner-circle {
    border-color: colors.$white !important;
  }
    
  .ng-dropdown-panel {
    background-color: colors.$black-dark !important;
    color: colors.$white !important;
  }

  .ng-select .ng-arrow-wrapper .ng-arrow {
    color: colors.$white !important;
  }

  .ng-select .ng-clear-wrapper .ng-clear {
    color: colors.$white !important;
  }

  .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: colors.$app-gray-04-dark !important;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    color: colors.$app-gray-01-dark !important;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    color: colors.$white !important;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    color: colors.$app-gray-04-dark !important;
  }

  .ng-touched::-webkit-input-placeholder { 
    color: colors.$app-gray-04-dark; 
  }

  .ng-untouched::-webkit-input-placeholder { 
    color: colors.$app-gray-04-dark; 
  }

  .mat-datepicker-content {
    background-color: colors.$black-dark !important;
    color: colors.$white !important;
  }

  .mat-calendar-body-cell-content, 
  .mat-calendar-body-label, 
  .mat-calendar-table-header, 
  .mat-datepicker-toggle-default-icon {
    color: colors.$white !important;
  }

  .mat-calendar-table-header {
    color: colors.$app-gray-04-dark !important;
  }

  .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: colors.$app-gray-04-dark !important;
}

  .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button, .mat-datepicker-toggle {
    color: colors.$white !important;
  }

  .mat-calendar-arrow {
    border-top-color: colors.$white;
  }

  .mat-calendar-table-header .ng-star-inserted{
    color: colors.$app-gray-04-dark !important;
  }

  .mat-calendar-period-button.mdc-button.mat-mdc-button {
    color: colors.$white !important;
  }

  .input-date-picker {
    background-color: colors.$black-dark;
    color: colors.$white;
  }
  
  .input-date-picker:focus {
    border-color: colors.$app-brand-dark;
  }

  .ng-select .epic-key-text {
    color: #8F8F8F;
  }
}

body.contrast {
  .ng-select .ng-select-container {
    background-color: colors.$black !important;
    color: colors.$white !important;
    border: 1px solid colors.$white;
   }
   
  .ng-select.ng-select-multiple .ng-select-container.ng-has-value {
    background-color: colors.$black !important;
    color: colors.$white !important;
    }
    
  .ng-dropdown-panel {
    background-color: colors.$black !important;
    color: colors.$white !important;
  }

  .ng-select .ng-arrow-wrapper .ng-arrow {
    color: colors.$white !important;
  }

  .ng-select .ng-clear-wrapper .ng-clear {
    color: colors.$white !important;
  }

  .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: colors.$app-gray-04-dark !important;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    color: colors.$white !important;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover {
    color: colors.$black !important;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
    color: colors.$app-gray-04-dark !important;
  }

  .ng-touched::-webkit-input-placeholder { 
    color: colors.$app-gray-04-dark; 
  }

  .ng-untouched::-webkit-input-placeholder { 
    color: colors.$app-gray-04-dark; 
  }

  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: colors.$yellow !important;
    color: colors.$black !important;
    border-color: colors.$black !important;
  }

  .ng-option .mat-mdc-checkbox .mdc-label, .mdc-checkbox__background {
    color: colors.$white !important;
  }

  .ng-option.ng-option-marked .mat-mdc-checkbox .mdc-label {
    color: colors.$black !important;
  }

  .ng-option.ng-option-selected .mat-mdc-checkbox .mdc-label {
    color: colors.$black !important;
  }

  .ng-option .mat-mdc-checkbox .mdc-checkbox__background {
    border-color: colors.$white !important;
  }
  
  .ng-option.ng-option-marked.ng-option-selected .mat-mdc-checkbox .mdc-checkbox__background {
    border-color: colors.$black !important;
    background-color: colors.$yellow !important;
  }

  .ng-option.ng-option-selected .mat-mdc-checkbox .mdc-checkbox__background {
    border-color: colors.$black !important;
    background-color: colors.$app-brand-contrast !important;
  }

  .ng-option.ng-option-marked .mat-mdc-checkbox .mdc-checkbox__background {
    border-color: colors.$black !important;
    background-color: colors.$yellow !important;
  }
  
  .mat-mdc-checkbox .mdc-label, .mdc-checkbox__background {
    color: colors.$white !important;
  }

  .mat-mdc-checkbox .mdc-label {
    color: colors.$white !important;
    font-weight: normal !important;
  }

  .mat-mdc-checkbox .mdc-checkbox__background {
    border-color: colors.$black !important;
    background-color: colors.$yellow !important;
  }
  
  .mat-mdc-radio-button.mat-mdc-radio-checked .mat-ripple-element {
    background-color: colors.$yellow !important;
  }

  .ng-option.ng-option-marked  {
    background: colors.$yellow;
  }

  .ng-option .mat-mdc-radio-button .mdc-label {
    color: colors.$white;
  }

  .ng-option.ng-option-marked .mat-mdc-radio-button .mdc-label, 
  .ng-option.ng-option-selected .mat-mdc-radio-button .mdc-label {
    color: colors.$black;
  }
  
  .ng-option.ng-option-marked .mat-mdc-radio-button .mdc-label {
    color: colors.$black;
  }

  .ng-option .mat-mdc-radio-button .mdc-radio__outer-circle {
    border-color: colors.$white !important;
  }

  .ng-option.ng-option-marked .mat-mdc-radio-button .mdc-radio__outer-circle {
    border-color: colors.$black !important;
  }
  
  .ng-option.ng-option-selected .mat-mdc-radio-button .mdc-radio__outer-circle, 
  .ng-option.ng-option-selected .mat-mdc-radio-button .mdc-radio__inner-circle {
    border-color: colors.$black !important;
  }

  .ng-option.ng-option-marked.ng-option-selected .mat-mdc-radio-button .mdc-radio__outer-circle, 
  .ng-option.ng-option-marked.ng-option-selected .mat-mdc-radio-button .mdc-radio__inner-circle {
    border-color: colors.$black !important;
  }
  
  .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    color: colors.$black !important;
  }
  
  .ng-select.ng-select-focused .ng-select-container .ng-value-container .ng-placeholder {
    color: colors.$yellow !important;
  }
  
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background: colors.$yellow !important;
    color: colors.$black !important;
  }
  
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected:hover {
    background: colors.$yellow !important;
  }

  .ng-option.ng-option-marked.ng-option-selected .mat-mdc-checkbox .mdc-checkbox__background .mdc-checkbox__checkmark,
  .ng-option.ng-option-selected .mat-mdc-checkbox .mdc-checkbox__background .mdc-checkbox__checkmark,
  .ng-option.ng-option-marked .mat-mdc-checkbox .mdc-checkbox__background .mdc-checkbox__checkmark {
    background-color: transparent !important;
    color: colors.$black !important;
  }
  
  .mat-mdc-checkbox .mdc-checkbox__background .mdc-checkbox__checkmark {
    background-color: transparent !important;
    color: colors.$black !important;
  }
  
  .mat-mdc-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color:  colors.$yellow !important;
  }
  
  .mat-mdc-radio-button.mat-accent .mat-radio-inner-circle,.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
  .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: colors.$yellow !important;
  }

  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    background: colors.$app-brand-contrast;
    color: colors.$blue;
  }

  .ng-dropdown-panel.ng-select-bottom {
    border: 1px solid colors.$white
  }

  .ng-dropdown-panel.ng-select-top {
    border: 1px solid colors.$white
  }

  .mat-calendar-body-selected {
    background-color: colors.$yellow !important;
    color: colors.$black !important;
  }
  
  .mat-datepicker-content {
    background-color: colors.$black !important;
    color: colors.$white !important;
    border: 1px solid colors.$white
  }
  
  .mat-calendar-body-cell-content, 
  .mat-calendar-body-label, 
  .mat-calendar-table-header, 
  .mat-datepicker-toggle-default-icon {
    color: colors.$white !important;
  }

  .mat-calendar-table-header .ng-star-inserted{
    color: colors.$app-gray-04-dark !important;
  }

  .mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: colors.$app-gray-04-dark !important;
  }
  
  .mat-calendar-period-button.mdc-button.mat-mdc-button {
    color: colors.$white !important;
  }

  .mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-selected {
    color: colors.$black !important;
  }

  .mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-comparison-identical) {
    background-color: colors.$app-brand-contrast !important;
    color: colors.$black !important;
  }
  

  .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button, .mat-datepicker-toggle {
    color: colors.$white !important;
  }

  .mat-calendar-arrow {
    border-top-color: colors.$white !important;
  } 

  .ng-select .ng-arrow-wrapper:hover {
    background: colors.$yellow !important;
  }

  .ng-select .ng-arrow-wrapper:hover .ng-arrow{
    color: colors.$black !important;
  }

  .mat-datepicker-toggle-active {
    color: colors.$blue !important;
  }

  .input-date-picker {
    background-color: colors.$black;
    color: colors.$white;
    border-radius: 3px;
    border: 1px solid colors.$white;
  }
  
  .input-date-picker:focus {
    border-color: colors.$yellow;
  }

  .ng-select .epic-key-text {
    color: #8F8F8F;
  }
}