@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "@ng-select/ng-select/themes/material.theme.css";

@import "variables";
@import "common/inputs.component.scss";
@import "common/buttons.component.scss";
@import "common/checkboxes.component.scss";
@import "common/radio-buttons.component.scss";
@import "common/fields.scss";
@import "common/elements.component.scss";
@import "./cookie-consent.scss";
@import "./generic.scss";
@import "./angular-material.overrides.scss";
@import "./editable-field.scss";
@import "./theme/components.scss";

html {
  max-height: 98%;
}
  
body {
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  overflow-y: hidden;
}

body.shownAtPopup {
  height: 100vh;
}

body.contrast.shownAtPopup {
  border: 1px solid white;
}

a {
    font-family: $font-family;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline !important;
    }

    &:focus { 
      text-decoration: none;
    }
}

::-webkit-scrollbar {
  width: 6px;
  height: 12px;
  background: inherit;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 6px;
}

::-webkit-scrollbar-track, 
::-webkit-scrollbar-corner{
  background: inherit;
}

body.mobile {
  // default angular cdk dialog classes override so it fills all space on mobile
  .cdk-overlay-pane  {
    max-width: 100vw !important;
    width: 100% !important;
    height: 100% !important;
  }
}