<div *ngIf="issue && !loading; else loadingTemplate" class="l-grid">

    <!-- top panel -->
    <div class="l-grid__top-panel top-panel">
        <div class="top-panel__issue-info">
            <img class="top-panel__type-icon" [src]="domSanitizer.bypassSecurityTrustUrl(issue.issueTypeIconUrl)" alt="Issue icon">
            <a class="top-panel__key" href="{{keyLink}}" matTooltip="{{issue.key}}" [matTooltipPosition]="'above'" target="_blank" rel="noreferrer noopener">
                {{ issue.key }}
            </a>
        </div>

        <div class="top-panel__control-buttons">
            <div class="top-panel__close-button icon-wrapper" (click)="close()">
                <i class="cancel-icon"></i>
            </div>
        </div>
    </div>
    <!--  -->

    <!-- content -->
    <div class="l-grid__content">

        <!-- main -->
        <div class="main">
            <!-- Summary -->
            <div class="summary jira-field">
                <div class="jira-field-header">
                    <div class="jira-field-header__error" 
                        matTooltip="{{ summaryUpdateErrorMessage }}" 
                        [ngSwitch]="summaryUpdateStatus"> 

                        <ng-container *ngSwitchCase="ValueChangeState.Failed">
                            {{ summaryUpdateErrorMessage }}
                        </ng-container>
                        <ng-container *ngSwitchCase="ValueChangeState.ServerError">
                            Server error occured. {{ summaryUpdateErrorMessage }}
                        </ng-container>
                    </div>
                </div>

                <div *ngIf="!permissions.EDIT_ISSUES.havePermission || !canEditField('summary'); else editableSummary">
                    {{ issue.summary }}
                </div>

                <ng-template #editableSummary>
                    <textarea 
                        #summary="ngModel"
                        name="summary" 
                        class="summary__text-area" 
                        placeholder="Write a summary"
                        maxlength="254" 
                        cols="3"
                        [(ngModel)]="issue.summary" 
                        [disabled]="summaryUpdateStatus === ValueChangeState.Pending"
                        (keyup)="onSummaryChanged()"                        
                    ></textarea>
                   
                    <div class="summary__control-buttons">
                        <div class="control-buttons" *ngIf="summaryUpdateStatus !== ValueChangeState.Pending && showSummaryControlButtons">
                            <button class="ts-btn ts-btn-primary control-btn" 
                                type="button"
                                [disabled]="summaryUpdateStatus === ValueChangeState.Failed"                              
                                (click)="updateSummary()">
                                Save
                            </button>

                            <a (click)="discardSummaryChanges()">Cancel</a>
                        </div>

                        <div [ngSwitch]="summaryUpdateStatus">
                            <div *ngSwitchCase="ValueChangeState.Pending">
                                <span class="loading-spinner"></span>
                                Summary updating...
                            </div>
                            <span *ngSwitchCase="ValueChangeState.Success">
                                Summary updated successfully.
                            </span>
                        </div>
                    </div>
                </ng-template>
            </div>
            <!-- end of summary -->

            <!-- description -->
            <div class="description">
                <span class="text-title">Description</span>

                <div class="jira-field-header">
                    <div class="jira-field-header__error" 
                        matTooltip="{{ descriptionUpdateErrorMessage }}"  
                        [ngSwitch]="descriptionUpdateStatus">

                        <ng-container *ngSwitchCase="ValueChangeState.Failed">
                            Error occured. {{ descriptionUpdateErrorMessage }}
                        </ng-container>
                        <ng-container class="text-danger" *ngSwitchCase="ValueChangeState.ServerError">
                            Server error occured. {{ descriptionUpdateErrorMessage }}
                        </ng-container>
                    </div>
                </div>
                
                <div *ngIf="!permissions.EDIT_ISSUES.havePermission || !canEditField('description'); else editableDescription">
                    {{ issue.description }}
                </div>

                <ng-template #editableDescription>
                    <textarea 
                        #description="ngModel"
                        name="issue-description"
                        placeholder="Add a description..."
                        class="description__text-area" 
                        [(ngModel)]="issue.description" 
                        [disabled]="descriptionUpdateStatus === ValueChangeState.Pending"
                        (keyup)="onDescriptionChanged()" 
                    ></textarea>
                    
                    <div class="description__control-buttons">
                        <div class="control-buttons" *ngIf="descriptionUpdateStatus !== ValueChangeState.Pending && showDescriptionControlButtons">
                            <button class="ts-btn ts-btn-primary control-btn" 
                                type="button"                               
                                (click)="updateDescription()">
                                Save
                            </button>
                            
                            <a (click)="discardDescriptionChanges()">Cancel</a>
                        </div>
                        
                        <div [ngSwitch]="descriptionUpdateStatus">
                            <div *ngSwitchCase="ValueChangeState.Pending">
                                <span class="loading-spinner"></span>
                                Description updating...
                            </div>
                            <span *ngSwitchCase="ValueChangeState.Success">
                                Description updated successfully.
                            </span>
                        </div> 
                    </div>
                </ng-template>
            </div>
            <!-- end of description -->

            <!-- comments section -->
            <div class="main__comments">
                <span class="text-title">Comments</span>
                
                <div class="comments">
                    <!-- all comments -->                    
                    <div class="comments__item" *ngFor="let comment of issue.comment?.comments">                        
                        <app-issue-comment 
                            [comment]="comment" 
                            [jiraUrl]="data.jiraUrl" 
                            [issueId]="issue.id" 
                            [user]="currentUser"
                            [permissions]="permissions"
                        ></app-issue-comment>
                    </div>

                    <!-- new comment -->
                    <div *ngIf="currentUser && permissions.ADD_COMMENTS.havePermission" 
                         class="new-comment">
                        <app-new-comment 
                            [jiraUrl]="data.jiraUrl" 
                            [issueId]="issue.id" 
                            [user]="currentUser" 
                            (created)="onNewCommentCreated($event)"
                        ></app-new-comment>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
        <!-- end of main -->

        <!-- info panel -->
        <div class="info-panel">
            <div class="info-panel__header">
                <span class="text-title">Details</span>
            </div>

            <div class="info-panel__item">
                <app-assignee-dropdown 
                    *ngIf="allowEditAssignee; else readonlyAssignee"
                    [issueKey]="issue.key"
                    [jiraUrl]="data.jiraUrl" 
                    [projectKey]="issue.projectKey" 
                    [assignee]="issue.assignee"
                    (assigneeChange)="onAssigneeChanged($event)"
                ></app-assignee-dropdown>

                <ng-template #readonlyAssignee>
                    <div class="jira-field-header">
                        <div class="jira-field-header__label">Assignee: </div>
                    </div>

                    <div class="readonly-field-wrapper">
                        <img class="avatar" 
                            [src]="(issue.assignee && domSanitizer.bypassSecurityTrustUrl(issue.assignee.avatarUrls['24x24'])) || '/assets/useravatar24x24.png'" 
                            alt="Avatar">
						
						<app-truncated-text [text]="issue.assignee?.displayName || 'Unassigned'"></app-truncated-text>
                    </div>
                </ng-template>
            </div>
            <div class="info-panel__item">
                <app-status-dropdown 
                    [jiraUrl]="data.jiraUrl" 
                    [issueKey]="issue.key" 
                    [projectKey]="issue.projectKey"
                    [initialStatus]="issue.status"
                    (statusChange)="onStatusChanged($event)"
                ></app-status-dropdown>
            </div>

            <!-- Sprint info placeholder -->

            <div *ngIf="issue.priorityId" class="info-panel__item">
                <app-priority-dropdown 
                    *ngIf="permissions.EDIT_ISSUES.havePermission && 
                        canEditField('priority'); 
                        else readonlyPriority"
                    [jiraUrl]="data.jiraUrl" 
                    [issueId]="issue.id" 
                    [issuePriorityId]="issue.priorityId" 
                    (priorityChange)="onPriorityChanged($event)"
                ></app-priority-dropdown>

                <ng-template #readonlyPriority>
                    <div class="jira-field-header">
                        <div class="jira-field-header__label">Priority: </div>
                    </div>

                    <div class="readonly-field-wrapper">
                        <img class="avatar" 
                            [src]="domSanitizer.bypassSecurityTrustUrl(issue.priority.iconUrl)" 
                            alt="Avatar">
						
						<app-truncated-text [text]="issue.priority.name"></app-truncated-text>
                    </div>
                </ng-template>
            </div>

            <div *ngIf="issue.reporter" class="info-panel__item">
				<div class="jira-field-header">
					<div class="jira-field-header__label">Reporter: </div>
				</div>

                <div style="display: flex; margin-top: 2px;">
					<img class="avatar" [src]="domSanitizer.bypassSecurityTrustUrl(issue.reporter.avatarUrls['24x24'])" alt="Avatar">
					<app-truncated-text [text]="issue.reporter.displayName"></app-truncated-text>
                </div>
            </div>
            
            <div style="display: flex">
                <div style="flex: 5;">
                    <span class="info-panel__text--label">Updated</span>
                    <span class="info-panel__text--label">Created</span>
                </div>
                <div style="flex: 5">
                    <span class="info-panel__text--small">{{ issue.updated | date: 'MM/dd/yy' }}</span>
                    <span class="info-panel__text--small">{{ issue.created | date: 'MM/dd/yy' }}</span>
                </div>
            </div>
        </div>
        <!-- end of info panel -->
    </div>
    <!-- end of content -->
</div>

<ng-template #loadingTemplate>
    <div class="center">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
</ng-template>