<div>
  <div class="jira-field-header">
    <span class="jira-field-header__label">
      Assignee: 
    </span>

    <span matTooltip="{{ errorMessage }}" class="jira-field-header__error">
      {{ errorMessage }}
    </span>
  </div> 

  <app-dropdown 
    optionsHeader="Suggestions"
    optionsFooter="Start Typing for Users"
    [searchable]="true"
    [options]="options"
    [loading]="loading" 
    [selected]="selectedOption" 
    (searchChange)="onSearchChanged($event)" 
    (optionSelect)="onOptionSelected($event)"
  ></app-dropdown>

  <a *ngIf="selectedOption && currentUserAccountId && selectedOption.value !== currentUserAccountId" (click)="assignToMe()">Assign To Me</a>
</div>