<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <security>
        <requestFiltering>
          <requestLimits maxQueryString="32768" />
        </requestFiltering>
      </security>
      <aspNetCore processPath="%LAUNCHER_PATH%"
                  arguments="%LAUNCHER_ARGS%"
                  stdoutLogEnabled="false" 
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="InProcess">
        <environmentVariables />
      </aspNetCore>
      <httpCompression>
        <dynamicTypes>
          <add mimeType="*/*" enabled="false" />
        </dynamicTypes>
        <staticTypes>
          <add mimeType="*/*" enabled="false" />
        </staticTypes>
      </httpCompression>
    </system.webServer>
  </location>
  <system.web>
    <httpCookies httpOnlyCookies="true"/>
  </system.web>
</configuration>
