@use '../../../styles/variables';
@use '../../../styles/icons';
@use '../../../styles/app-colors';

.settings {
  overflow-y: auto;
  height: 100vh;
  
  &__container {
    padding-bottom: 10px;

    &-header {
      display: flex;
      flex: 1;
      justify-content: space-between;

      &-title {
        display: flex;
        max-width: 470px;

        &-username {
          margin-left: 8px;
          display: block;
          max-width: 470px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &-link {
      margin-right: 5px;
    }
  }
}

.info-circle {
  color: app-colors.$green;
  -webkit-font-smoothing: antialiased;
  display: block;
  font-family: variables.$msteams-icons-font !important;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-rendering: optimizeLegibility;

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: icons.$field-success;
  }
}

.text-bold {
  font-weight: 600;
}

:host-context(.jira-cc-banner-present) {
  .settings {
    height: calc(100vh - 52px); /* 32 is size of the cookie container button + 16px paddings + 4px margin bottom */
  }
}