@import 'icons';
@import 'app-colors';
@import 'variables';

.config {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    max-width: 536px;
    margin: 0 auto;

    &__form {
        &-input {
            position: relative;
            width: 100%;
            padding-top: 0.3125rem;

            &-error {
                border: 0;
                color: $red;
                display: inline-block;
                float: right;
                font-family: $font-family;
                font-size: 1.2rem;
                font-weight: $regular;
                line-height: 2rem;
                margin: 0;
                padding: 0;
            }

            &-error-icon {
                color: $red;
                bottom: 0.4rem;
                right: 0.75rem;
                position: absolute;
                font-style: normal;

                &::before {
                    font-family: $msteams-icons-font !important;
                    bottom: 1px;
                    content: $field-error;
                    position: relative;
                }
            }
        }

        &-button {
            width: 96px;
            margin-top: 1rem;
        }

        &-label {
            color: $app-gray-01-light;
            font-size: 1.2rem;
            font-weight: $regular;
        }

        &-auth-button-container {
            display: block;
            margin: 0px auto;
            text-align: center;

            button {
                margin-top: 0px;
            }
        }
    }

    &__container-error {
        display: flex;
        margin-top: 10px;
        align-items: center;

        &-message {
            flex: 9.2;

            &-icon {
                color: $red;
                font-style: normal;
                text-rendering: optimizeLegibility;
                -webkit-font-smoothing: antialiased;
                font-size: 28px;
                flex: 0.8;

                &::before {
                    font-family: $msteams-icons-font !important;
                    bottom: 1px;
                    content: $field-error;
                    position: relative;
                }
            }
        }
    }

    &__consent-details-icon {
        font-style: normal;
        margin-left: 5px;
        cursor: pointer;
        position: absolute;
        line-height: 1.3em;

        &::before {
            font-family: $msteams-icons-font !important;
            content: $question-mark-field;
            position: relative;
        }
    }

    .info__container {
        position: fixed;
        bottom: 0;
        color: $app-gray-04-light;
        font-size: .8em;
        margin-bottom: 2px;
    }
}

:host-context(.shownAtPopup) {
  margin-top: 30px;
  border: 1px solid;
}

:host-context(.default.shownAtPopup) {
  border-color: #f0f2f4;
}

:host-context(.contrast.shownAtPopup) {
  border-color: white;
}

:host-context(.dark.shownAtPopup) {
  border-color: #2b2b2f;
}