<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://aui-cdn.atlassian.com/aui-adg/6.0.6/css/aui.min.css" media="all">
    <script data-options="sizeToParent: true;" type="text/javascript" src="https://connect-cdn.atl-paas.net/all.js" integrity="sha256-7azVlBYSZ39AxY/hYDXJh2jvBjYwLsWHIiPefcCf+wQ=" crossorigin="anonymous"></script>
</head>
<body class="aui-page-notification aui-page-size-medium" data-aui-version="6.0.6">
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
