@use '../../../../styles/app-colors';

.dialog {
  margin-left: 3.2rem;
  margin-right: 3.2rem;
  margin-top: 2.0rem;

  &__content {
    overflow: auto;

    // note: overall height of the task module in desktop is 522px
    // so the main part is 100vh(522px) - 56px(32px footer>buttons>button + 12px margin-bottom from content + 12px margin-bottom from footer)
    max-height: calc(100vh - 56px);
    margin-bottom: 12px;
    
    // styles to make scrollbar shifted to the right
    padding-right: 3.2rem;
    margin-right: -3rem;
  }

  &__footer {
    margin-bottom: 12px;
  }
}

.comment-form {
  &__setup-fields { }
  
  &__content {
    margin-top: 2rem;
  }
}

.field-group {
  width: 100%;

  &__label, &__description {
    font-size: 12px;
    line-height: 1.6rem;
    font-weight: 400;
  }

  &__header {
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
    display: flex;
    justify-content: space-between;
  }

  &__body { }

  &__footer {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    line-height: 16px;
    padding-top: 1.2rem;
  }

  &__comment {
    font-weight: normal;
  }

  &__comment-textarea {
    height: 130px;
    max-height: 130px;
  }

  &__search-input {
    width: 100%;
    font-size: 14px;
    padding: 5px 12px 8px;
    margin-bottom: 1rem;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;

  &__button {
    width: 96px;
    height: 32px;
  }
}

input, textarea {
  box-shadow: none;
  outline: none;
  resize: none; 
  border: none;
  border-radius: 3px;
  border-bottom: solid 0.2rem transparent;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus, 
textarea:focus {
  border-color: app-colors.$app-brand;
}

input.ng-invalid.ng-touched, 
textarea.ng-invalid.ng-dirty {
  box-shadow: 0 0 0 1px #ff5630;
  border: 1px solid #ff5630;
}

.center {
  min-height: 610px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid app-colors.$app-gray-02;
  margin: 1em 0;
  padding: 0;
}

.search-result {
  max-height: 275px;
  height: 275px;
  margin: 0 0 1rem 0;
}

.issues-list {
    list-style-type: none;
    padding: 0;
    overflow: auto;
    height: 100%;
    outline: 0px;
    border: 0px;
}

.issues-list li {
    cursor: pointer;
    padding: .3rem .3rem .3rem 0rem;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.right-addon input { padding-right: 30px; }

:host-context(.default) {
  ::ng-deep h5 {
    color: app-colors.$black !important;
  }
}

:host-context(.dark) {
  ::ng-deep h5 {
    color: app-colors.$white !important;
  }
}

.issue-loading {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 275px;
  max-height: 275px;
  margin: 0 0 1rem 0;
}
