@use '../../../../styles/icons' as icons;
@use '../../../../styles/app-colors' as colors;
@use '../../../../styles/variables' as vars;

:host {
  display: inline-block;
  width: 100%;
}

.dropdown {
  position: relative;
  width: 100%;
  height: 32px;

  &.disabled {
    opacity: 0.5;
    cursor: default !important;

    .dropdown__face {
      cursor: default;
    }
  }

  &__label {
    display: flex;
    flex: 1;
    padding: 5px 7px;
    max-width: 100%; // TODO: Refactor this behaviour

    &-text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__icon {
    width: 23px;
    height: 23px;
    margin-left: 10px;
  }

  &__options {
    list-style: none;
    padding: 0;
    margin: 0.1875rem 0 8px;
    position: absolute;
    z-index: 999;
    cursor: pointer;
    width: 100%;
    box-shadow: 0px 0.125rem 0.75rem 0px rgba(22, 35, 58, 0.36);

    &-header, &-footer {
      color: inherit;
      cursor: default !important;
      padding: 10px;
      display: inline-block;
    }

    &-footer {
      color: #5e6c84;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      border-color: #6c798f;
      font-style: normal;
    }
  }

  &__face, &__options {
    border-radius: 3px;
  }

  &__option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;

    &:last-child {
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &-icon {
      flex: 1;
      margin-right: 3px;
    }
  }

  &__search {
    padding: 0;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__state-icon {
    display: block;
    font-family: vars.$msteams-icons-font !important;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;

    &::before {
      bottom: 1px;
      content: icons.$chevron-down;
      position: relative;
    }
  }

  &__no-matches-label {
    padding: 5px 7px;
  }

  &:disabled {
    background: black;
  }
}

:host-context(.default) {
    & .dropdown__face, .dropdown__options {
        background-color: colors.$app-gray-10-light;
    }
}

:host-context(.dark) {
    & .dropdown__face, .dropdown__options {
        background-color: colors.$black-dark;
    }
}


:host-context(.contrast) {
    & .dropdown__face, .dropdown__options {
        background-color: colors.$black;
        border: 1px solid colors.$white;
    }

    & .face__search-input {
        border: none;
    }
}

.face {
  display: flex;
  border-radius: 3px;
  height: inherit;
  cursor: pointer;

  justify-content: space-between;

  &__label {
    width: calc(100% - 32px);
    display: flex;
    align-items: center;

    padding: 5px 0 7px 9px;
  }

  &__icon {
    padding: 8px;
    display: flex;
    align-items: center;
  }

  &__search-input {
    flex: 1;
    min-width: 0;
    min-height: 0;
    padding: 0;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}